*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    /* padding: 0px; */
    font-family: "Fredoka", sans-serif;

}
.header{
    background-color: rgb(138, 201, 211);
    box-shadow: 0px 0px 5px black;
}
.logo {
    float:left; 
    height: 80px;
}

.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px; 
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
}
.header ul li {
    float: none;

}
.header ul li a {
    display: block;
    padding: 29px 40px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;

}
.header ul li a:hover:not(.active){
    background-color: rgb(152, 152, 212);
    transition: all 200ms ease;

}
.header ul li a.active {
    background-color: rgb(152, 152, 212);

}

.team-title {
    margin: 0px;
    padding: 0px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    
}

.team {
    margin: 0px;
    padding: 0px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.team img {
    width: 125px;
    height: 125px;
    border: 2px solid;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;

}


figure {
    text-align: center;
    margin: 0px;
    width: 125px;

}

figcaption{
    margin-top: 20px;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #eee;
}
.copyright {
    /* text-align: center; */
    font-size: 13px;
    color: #555;
}

.images-container {
    display: flex;
}

.images-container img {
    width: 50px;
    margin-left: 10px;
    /* float: right; */
}


span{ 
    font-weight: normal;
    color: #272727;
}

.coming-soon {
    margin-top: 100px;
    text-align: center;
}


.signup-form {
    border: 3px solid rgb(152, 152, 212);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* margin: 80px 470px; */
    margin: 5% 34%;
    padding: 10px 20px;
}
.signup-form input:not(.gender, .signup-btn){
    border: 2px solid rgb(138, 201, 211);
    font-size: 16px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 7px;
    padding-left: 10px;
}

.mid {
    margin-top: 20px;
    width: 49%; 
}

/* .mobile {
    width: 58%;

} */

.age {
    width: 76%;
    /* padding-bottom: 1px; */
}

.full{
    width: 99%;
}

.radio-gender {
    padding: 0px;
    margin: 0px;
}
input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    z-index: 10;
    margin: 0px 10px 10px 0;
    position: relative;
    color: #ced4da;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    /* font-weight: bold; */
    background-color: #ffffff;
    border: 2px solid rgb(138, 201, 211);
    cursor: pointer;
    transition: all 200ms ease;
  }
  
  input[type="radio"]:checked + label {
    color: #495057;
    background-color: #ced4da;
    /* background-color: rgb(152, 152, 212); */
  }
  
  input[type="radio"] + label {
    padding: 5px 20px;
    border-radius: 10px;
  }

.signup-btn {
    border: 2px solid rgb(138, 201, 211);
    background-color: rgb(138, 201, 211);
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 10px;
    /* margin-top: 10px; */
    width: 99.5%;

}

.signup-btn:hover {
    cursor: pointer;
    transition: all 200ms ease;
    background-color: rgb(152, 152, 212);
    border-color: rgb(152, 152, 212);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.main ul {
    max-width: 700px;
    width: 100%;
}

.label{
    width: 600px;
    padding: 40px 0px;
}

/* table {
    margin: 20px;
    border: 2px solid rgb(138, 201, 211);
} */

.table-wrapper{
    margin: 30px 70px 70px;
    box-shadow: 0px 10px 20px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 24px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 14px;
}

.fl-table thead th {
    color: #ffffff;
    /* background: #4FC3A1; */
    background-color: rgb(152, 152, 212);
}


/* .fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
} */

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 90px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

@media only screen and (max-width: 480px){
    .team {
        gap: 10px;
    }
    .team img {
        width: 50px;
        height: 50px;
    }
    figure{
        width: 75px;
    }

    .header ul li a{
        font-size: 12px;
        padding: 14px 8px;
    }

    .logo{
        height: 58px;
    }
    .signup-form{
        margin: 10% 5%;
        padding: 5px 10px;
        margin-bottom: 0px;
    }

    .signup-form input:not(.gender, .signup-btn){
        margin-bottom: 10px;
        padding-left: 5px;
    }
    .age {
        width: 71.5%;
        /* padding-bottom: 1px; */
    }
    
    .label {
        width: 270px;
    }
    .main ul {
        max-width: 340px;
        width: 100%;
    }
}