body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Fredoka", sans-serif;

}
.header{
    background-color: rgb(138, 201, 211);
}
.logo {
    float:left; 
    height: 80px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px; 
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
}
li {
    float: none;

}
li a {
    display: block;
    padding: 29px 40px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;

}
li a:hover:not(.active){
    background-color: rgb(152, 152, 212);
    transition: all 200ms ease;

}
li a.active {
    background-color: rgb(152, 152, 212);

}

h2 {
    margin: 0px;
    padding: 0px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    
}

.team {
    margin: 0px;
    padding: 0px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.team img {
    width: 125px;
    height: 125px;
    border: 2px solid;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;

}


figure {
    text-align: center;
    margin: 0px;
    width: 125px;

}

figcaption{
    margin-top: 20px;
}

.footer {
    text-align: center;
    margin-top: auto;
    padding: 30px;
    font-size: 13px;
    color: #555;
}
hr {
    width: 100%;
    color: #888;
}

span{ 
    font-weight: normal;
    color: #272727;
}

.coming-soon {
    margin-top: 100px;
}


.signup-form {
    border: 3px solid rgb(152, 152, 212);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* margin: 80px 470px; */
    margin: 5% 34%;
    padding: 10px 20px;
}
.signup-form input:not(.gender, .signup-btn){
    border: 2px solid rgb(138, 201, 211);
    font-size: 16px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 7px;
    padding-left: 10px;
}

.mid {
    margin-top: 20px;
    width: 45%; 
}

/* .mobile {
    width: 58%;

} */

.age {
    width: 76%;
    /* padding-bottom: 1px; */
}

.full{
    width: 95%;
}

.radio-gender {
    padding: 0px;
    margin: 0px;
}
input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    z-index: 10;
    margin: 0px 10px 10px 0;
    position: relative;
    color: #ced4da;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    /* font-weight: bold; */
    background-color: #ffffff;
    border: 2px solid rgb(138, 201, 211);
    cursor: pointer;
    transition: all 200ms ease;
  }
  
  input[type="radio"]:checked + label {
    color: #495057;
    background-color: #ced4da;
    /* background-color: rgb(152, 152, 212); */
  }
  
  input[type="radio"] + label {
    padding: 5px 20px;
    border-radius: 10px;
  }

.signup-btn {
    border: 2px solid rgb(138, 201, 211);
    background-color: rgb(138, 201, 211);
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 10px;
    /* margin-top: 10px; */
    width: 99.5%;

}

.signup-btn:hover {
    cursor: pointer;
    transition: all 200ms ease;
    background-color: rgb(152, 152, 212);
    border-color: rgb(152, 152, 212);
}
  

@media only screen and (max-width: 480px){
    .team {
        gap: 10px;
    }
    .team img {
        width: 50px;
        height: 50px;
    }
    figure{
        width: 75px;
    }

    li a{
        font-size: 12px;
        padding: 14px 8px;
    }

    .logo{
        height: 58px;
    }
    .signup-form{
        margin: 10% 5%;
        padding: 5px 10px;
        margin-bottom: 0px;
    }

    .signup-form input:not(.gender, .signup-btn){
        margin-bottom: 10px;
        padding-left: 5px;
    }
    .age {
        width: 71.5%;
        /* padding-bottom: 1px; */
    }
}